In [10]:
import csv
import sqlite3

In [11]:
def csv_to_sqlite(csv_file, db_file, table_name):
    # Connect to the SQLite database
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()

    # Create the table in the database
    create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({','.join(columns)})"
    cursor.execute(create_table_query)

    # Read the CSV file and insert data into the table
    with open(csv_file, 'r') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)  # Skip the header row

        insert_query = f"INSERT INTO {table_name} VALUES ({','.join(['?'] * len(columns))})"
        cursor.executemany(insert_query, csv_reader)

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

In [7]:
 # Import the dependencies.
    
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine, text, ForeignKey,Column, String, Interger, CHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
Base = declarative_base()

# Create a reference to the file. 
horse_database_path = Path(r'C:\Users\aumek\OneDrive\Desktop\Git_Personnal_Rep\Resource_mustang\horses_2020.csv')

# Read the CSV file into pandas
df_horses = pd.read_csv(database_path)
df_horses.head()

C:\Users\aumek\AppData\Local\Temp\ipykernel_23272\2405694757.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_horses = pd.read_csv(database_path)

,rid,horseName,age,saddle,decimalPrice,isFav,trainerName,jockeyName,position,positionL,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,10312,Waterproof,4.0,9.0,0.076923,0,Shaun Keightley,Brendan Powell,1,NaN,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9,1.199095,66,1.0,1.0,NaN
1,10312,Eva's Diva,6.0,7.0,0.444444,1,Phil Middleton,Mr Sam Lee,2,15,...,110.0,Getaway,Shouette,Sadler's Wells,9,1.199095,65,0.0,1.0,NaN
2,10312,Incredible Dream,7.0,5.0,0.019608,0,Conrad Allen,Joshua Moore,3,5.5,...,NaN,Vale Of York,Finnmark,Halling,9,1.199095,72,0.0,1.0,NaN
3,10312,Hats Off To Larry,6.0,4.0,0.230769,0,Mick Channon,Marc Goldstein,4,10,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9,1.199095,72,0.0,0.0,NaN
4,10312,Taqwaa,7.0,6.0,0.038462,0,Laura Morgan,Richie McLernon,5,5.5,...,NaN,Iffraaj,Hallowed Park,Barathea,9,1.199095,72,0.0,0.0,NaN

In [8]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{horse_database_path}")

In [9]:
# Query All Records in the the Database
query = text("SELECT * FROM horses_2020")
data = engine.execute(query)

for record in data:
    print(record)

DatabaseError: (sqlite3.DatabaseError) file is not a database
[SQL: SELECT * FROM horses_2020]
(Background on this error at: https://sqlalche.me/e/14/4xp6)

In [3]:
# Create a reference to the file. 
database_path = Path(r'C:\Users\aumek\OneDrive\Desktop\Git_Personnal_Rep\Resource_mustang\races_2020.csv')

# Read the CSV file into pandas
df = pd.read_csv(database_path)
df.head(5)

,rid,course,time,date,title,rclass,band,ages,distance,condition,hurdles,prizes,winningTime,prize,metric,countryCode,ncond,class,currency
0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,9 hurdles,"[5198.4, 1526.4, 763.2, 381.6]",253.88,7869,3218.0,GB,10,4,NaN
1,10896,Cheltenham,03:50,20/01/01,EBF Stallions &amp; Cheltenham Pony Club (A St...,Class 1,NaN,4yo,1m6f,Soft,NaN,"[14237.5, 5342.5, 2675.0, 1332.5, 670.0, 335.0]",206.55,24592,2815.0,GB,5,1,NaN
2,23038,Tramore (IRE),02:55,20/01/01,Jerry O'Donovan Memorial Rated Novice Chase,NaN,NaN,5yo+,2m,Soft,12 fences,"[7387.5, 2387.5, 1137.5, 512.5, 262.5, 137.5]",266.40,11826,3218.0,IE,5,0,NaN
3,23986,Fairyhouse (IRE),02:40,20/01/01,Follow Fairyhouse On Social Media Beginners Chase,NaN,NaN,5yo+,2m5f,Yielding,13 fences,"[8274.0, 2674.0, 1274.0, 574.0, 294.0, 154.0]",340.90,13244,4223.0,IE,6,0,NaN
4,25123,Fairyhouse (IRE),02:05,20/01/01,Fairyhouse Launches New Brand In 2020 Handicap...,NaN,80-109,4yo+,3m,Yielding,13 hurdles,"[7092.0, 2292.0, 1092.0, 492.0, 252.0, 132.0]",389.00,11352,4827.0,IE,6,0,NaN