In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Resources\merged_data.csv")
df

c:\Users\vidul\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (11,19,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,distance,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9.0,1.199095,66.0,1.0,1.0,NaN
1,1,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,110.0,Getaway,Shouette,Sadler's Wells,9.0,1.199095,65.0,0.0,1.0,NaN
2,2,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Vale Of York,Finnmark,Halling,9.0,1.199095,72.0,0.0,1.0,NaN
3,3,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9.0,1.199095,72.0,0.0,0.0,NaN
4,4,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Iffraaj,Hallowed Park,Barathea,9.0,1.199095,72.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149584,149584,415090,Trentham (NZ),03:45,20/12/05 00:00,Rydges Wellington Captain Cook Stakes (Group 1...,NaN,NaN,2yo+,1m,...,NaN,Alamosa,Karaka,Kings Island II,11.0,1.191591,58.0,0.0,0.0,32/1
149585,149585,415090,Trentham (NZ),03:45,20/12/05 00:00,Rydges Wellington Captain Cook Stakes (Group 1...,NaN,NaN,2yo+,1m,...,NaN,Proisir,Aimee's Idol,Colombia,11.0,1.191591,57.0,0.0,0.0,11/2
149586,149586,415090,Trentham (NZ),03:45,20/12/05 00:00,Rydges Wellington Captain Cook Stakes (Group 1...,NaN,NaN,2yo+,1m,...,NaN,Tavistock,Laoghaire,Pins,11.0,1.191591,58.0,0.0,0.0,217/10
149587,149587,415090,Trentham (NZ),03:45,20/12/05 00:00,Rydges Wellington Captain Cook Stakes (Group 1...,NaN,NaN,2yo+,1m,...,NaN,Per Incanto,Ages Past,Slavic,11.0,1.191591,58.0,0.0,0.0,233/10
149588,149588,415090,Trentham (NZ),03:45,20/12/05 00:00,Rydges Wellington Captain Cook Stakes (Group 1...,NaN,NaN,2yo+,1m,...,NaN,Alamosa,Awesome I,High Chaparral,11.0,1.191591,57.0,0.0,0.0,60/1

drop title, headgear, outHandicap, overWeight, RPR,

In [6]:
df.groupby("countryCode").count()

,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,distance,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
countryCode,,,,,,,,,,,,,,,,,,,,,
AE,1884,1884,1884,1884,1884,1884,0,1113,1884,1884,...,1680,1884,1884,1884,1884,1884,1884,1884,1884,264
ARAB,14,14,14,14,14,14,0,0,14,14,...,0,14,14,8,14,14,14,14,14,0
ARG,163,163,163,163,163,163,0,0,163,163,...,0,160,160,160,160,160,160,160,160,143
AU,3497,3497,3497,3497,3497,3497,0,0,3497,3497,...,0,3496,3495,3495,3496,3496,3496,3496,3496,1775
BRZ,234,234,234,234,234,234,0,0,234,234,...,0,234,234,234,234,234,234,234,234,160
CAN,352,352,352,352,352,352,0,0,352,352,...,0,352,352,352,352,352,352,352,352,309
CHI,98,98,98,98,98,98,0,0,98,98,...,0,98,98,98,98,98,98,98,98,82
FR,19964,19964,19964,19964,19964,19964,0,0,19964,19964,...,0,19962,19962,19962,19962,19962,19962,19962,19962,11637
GB,67214,67214,67214,67214,67214,67214,67157,43940,67214,67214,...,51560,67154,67154,67125,67154,67154,67154,67154,67154,48925
GER,596,596,596,596,596,596,0,0,596,596,...,0,596,596,596,596,596,596,596,596,351
HK,9353,9353,9353,9353,9353,9353,0,0,9353,9353,...,9246,9353,9353,9353,9353,9353,9353,9353,9353,3866
IE,27291,27291,27291,27291,27291,27291,0,8970,27291,27291,...,17000,27288,27288,27288,27288,27288,27288,27288,27288,21619
IT,234,234,234,234,234,234,0,0,234,234,...,0,231,231,231,231,231,231,231,231,196
JP,1557,1557,1557,1557,1557,1557,0,0,1557,1557,...,0,1557,1557,1557,1557,1557,1557,1557,1557,825
KSA,90,90,90,90,90,90,0,0,90,90,...,0,90,90,90,90,90,90,90,90,0
NOR,13,13,13,13,13,13,0,0,13,13,...,0,13,13,13,13,13,13,13,13,13
NZ,243,243,243,243,243,243,0,0,243,243,...,0,243,243,243,243,243,243,243,243,82
SAF,1256,1256,1256,1256,1256,1256,0,0,1256,1256,...,60,1254,1254,1254,1254,1254,1254,1254,1254,220
SPA,21,21,21,21,21,21,0,0,21,21,...,0,21,21,21,21,21,21,21,21,21
SWE,61,61,61,61,61,61,0,0,61,61,...,0,60,60,60,60,60,60,60,60,41
SWI,88,88,88,88,88,88,0,0,88,88,...,0,88,88,88,88,88,88,88,88,0
TUR,26,26,26,26,26,26,0,0,26,26,...,0,26,26,26,26,26,26,26,26,26
URU,77,77,77,77,77,77,0,0,77,77,...,0,77,77,77,77,77,77,77,77,46
US,15263,15263,15263,15263,15263,15263,0,0,15263,15263,...,0,15262,15262,15262,15262,15262,15262,15262,15262,4410

In [9]:
df.dtypes

Unnamed: 0        int64
rid               int64
course           object
time             object
date             object
title            object
rclass           object
band             object
ages             object
distance         object
condition        object
hurdles          object
prizes           object
winningTime     float64
prize             int64
metric          float64
countryCode      object
ncond             int64
class             int64
currency         object
horseName        object
age             float64
saddle          float64
decimalPrice    float64
isFav           float64
trainerName      object
jockeyName       object
position        float64
positionL        object
dist             object
weightSt        float64
weightLb        float64
overWeight      float64
outHandicap     float64
headGear         object
RPR             float64
TR              float64
OR              float64
father           object
mother           object
gfather          object
runners         float64
margin          float64
weight          float64
res_win         float64
res_place       float64
price            object
dtype: object

Arshia Amar Utkarsh Vivek paid for bass canyon camping 
1 camping pass = $182 
$60.67 from Rahul Benio Lexi