In [117]:
# Import Modules
import pandas as pd 
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
from pathlib import Path
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [17]:
df = pd.read_csv("Resources\merged_data.csv")
df.head()

c:\Users\vidul\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (11,19,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,distance,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9.0,1.199095,66.0,1.0,1.0,NaN
1,1,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,110.0,Getaway,Shouette,Sadler's Wells,9.0,1.199095,65.0,0.0,1.0,NaN
2,2,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Vale Of York,Finnmark,Halling,9.0,1.199095,72.0,0.0,1.0,NaN
3,3,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9.0,1.199095,72.0,0.0,0.0,NaN
4,4,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Iffraaj,Hallowed Park,Barathea,9.0,1.199095,72.0,0.0,0.0,NaN

In [ ]:
df.groupby("countryCode").count().sort_values(by="course", ascending=False)

In [13]:
#df_horses_features["ages"] = df_horses_features["ages"].str.replace('[a-zA-Z+]', '').astype(float)
df.columns

Index(['Unnamed: 0', 'rid', 'course', 'time', 'date', 'title', 'rclass',
       'band', 'ages', 'distance', 'condition', 'hurdles', 'prizes',
       'winningTime', 'prize', 'metric', 'countryCode', 'ncond', 'class',
       'currency', 'horseName', 'age', 'saddle', 'decimalPrice', 'isFav',
       'trainerName', 'jockeyName', 'position', 'positionL', 'dist',
       'weightSt', 'weightLb', 'overWeight', 'outHandicap', 'headGear', 'RPR',
       'TR', 'OR', 'father', 'mother', 'gfather', 'runners', 'margin',
       'weight', 'res_win', 'res_place', 'price'],
      dtype='object')

In [15]:
df_horses = df[["rid", "horseName", "age", "saddle", "decimalPrice", "isFav", 
                "trainerName", "jockeyName", "position", "positionL", "dist", 
                'weightSt', 'weightLb', 'overWeight', 'outHandicap', 'headGear', 
                'RPR', 'TR', 'OR', 'father', 'mother', 'gfather', 'runners', 
                'margin', 'weight', 'res_win', 'res_place', 'price']]
df_races = df[["rid", 'course', 'time', 'date', 'title', 'rclass', 'band', 
               'ages', 'distance', 'condition', 'hurdles', 'prizes', 'winningTime', 
               'prize', 'metric', 'countryCode', 'ncond', 'class', 'currency']]

drop title, headgear, outHandicap, overWeight, RPR, band, class, ncond, decimal price, positionL, dist, weights & weightLb, margin, outHandicap, hurdles,

In [108]:
df_horse_features = df_horse_cleaning.drop(columns="res_win")
df_horse_target = df_horse_cleaning["res_win"]

In [109]:
print(df_horse_features.size)
print(df_horse_features.dtypes)
print(df_horse_target.dtypes)

285110
age            float64
trainerName     object
jockeyName      object
weight         float64
RPR            float64
TR             float64
OR             float64
runners        float64
metric         float64
condition       object
dtype: object
float64

In [110]:
df_horse_target.isna().sum()

0

In [111]:
df_horse_features = pd.get_dummies(df_horse_features)
df_horse_features.head()

,age,weight,RPR,TR,OR,runners,metric,trainerName_A Al Shemaili,trainerName_A Chaille-Chaille,trainerName_A Daud,...,condition_Good To Firm,condition_Good To Soft,condition_Good To Yielding,condition_Heavy,condition_Soft,condition_Soft To Heavy,condition_Standard,condition_Standard To Slow,condition_Yielding,condition_Yielding To Soft
1,6.0,65.0,96.0,89.0,110.0,9.0,3218.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,7.0,70.0,80.0,65.0,114.0,9.0,3218.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
26,8.0,73.0,115.0,33.0,109.0,8.0,3218.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,9.0,68.0,108.0,29.0,103.0,8.0,3218.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28,7.0,71.0,105.0,24.0,107.0,8.0,3218.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [98]:
df_horse_features_scaled = StandardScaler().fit_transform(df_horse_features[["age", "weight", "RPR", "TR", "OR", "runners", "metric"]])
df_horse_features_scaled[:5]

array([[ 0.22672989,  0.51787466,  0.61622301,  1.40399019,  0.97554552,
        -0.56092293,  0.65981735],
       [ 0.68721541,  1.29364724,  0.05161225,  0.53954065,  1.12964125,
        -0.56092293,  0.65981735],
       [ 1.14770094,  1.75911079,  1.28669829, -0.61305873,  0.93702159,
        -0.82829747,  0.65981735],
       [ 1.60818647,  0.98333821,  1.03968108, -0.75713365,  0.70587799,
        -0.82829747,  0.65981735],
       [ 0.68721541,  1.44880176,  0.93381656, -0.93722731,  0.85997372,
        -0.82829747,  0.65981735]])

In [106]:
df_horse_features_scaled = pd.DataFrame(df_horse_features_scaled, columns=["age", "weight", "RPR", "TR", "OR", "runners", "metric"])

df_horse_features["age"] = df_horse_features_scaled["age"]
df_horse_features["weight"] = df_horse_features_scaled["weight"]
df_horse_features["RPR"] = df_horse_features_scaled["RPR"]
df_horse_features["TR"] = df_horse_features_scaled["TR"]
df_horse_features["OR"] = df_horse_features_scaled["OR"]
df_horse_features["runners"] = df_horse_features_scaled["runners"]
df_horse_features["metric"] = df_horse_features_scaled["metric"]

df_horse_features.head()
df_horse_features = df_horse_features.dropna

In [112]:
X_train, X_test, y_train, y_test = train_test_split(df_horse_features, df_horse_target, random_state=1)

In [114]:
model = LogisticRegression()
model.fit(X_train, y_train)

c:\Users\vidul\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [115]:
y_pred = model.predict(X_test)

In [116]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9086700336700336

In [ ]:
model = KMeans(n_clusters=2, random_state=1)