In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'epa', 'fruitsDB', 'horse_racing', 'horse_racing_2018', 'horse_racing_2019', 'local', 'met', 'petsitly_marketing', 'travel_db', 'uk_food']

In [4]:
# assign the database to a variable name
db_2020 = mongo['horse_racing']
db_2019 = mongo['horse_racing_2019']
db_2018 = mongo['horse_racing_2018']

In [5]:
# review the collections in our new database
print(db_2020.list_collection_names())
print(db_2019.list_collection_names())
print(db_2018.list_collection_names())

['horses', 'races']
['races_2019', 'horses_2019']
['horses_2018', 'races_2018']

In [10]:
# review a document in the customer_list collection
print(db_2019.horses_2019.find_one())

{'_id': ObjectId('64b81a844db4c2a8d817045b'), 'rid': 11499, 'horseName': 'Fresh Power', 'age': 5.0, 'saddle': 3.0, 'decimalPrice': 0.2, 'isFav': 0, 'trainerName': 'Y S Tsui', 'jockeyName': 'Silvestre De Sousa', 'position': 3, 'positionL': 2.5, 'dist': 2.75, 'weightSt': 9, 'weightLb': 1, 'overWeight': '', 'outHandicap': '', 'headGear': 'tb', 'RPR': 63.0, 'TR': '', 'OR': 56.0, 'father': 'Makfi', 'mother': 'Bannisters', 'gfather': "Redoute's Choice", 'runners': 13, 'margin': 1.2173485331868517, 'weight': 57, 'res_win': 0.0, 'res_place': 1}

In [11]:
# review a document in the customer_list collection
print(db_2018.races_2018.find_one())

{'_id': ObjectId('64b81ac3a4ff697eeb9e883d'), 'rid': 16767, 'course': 'Ascot (AUS)', 'time': '09:05', 'date': '18/01/01', 'title': 'Tabtouch-Perth Cup (Group 2 Handicap) (3yo+) (Turf)', 'rclass': '', 'band': '', 'ages': '3yo+', 'distance': '1m4f', 'condition': 'Good', 'hurdles': '', 'prizes': '[187283.24, 57803.47, 26011.56, 11560.69, 5780.35, 2890.17, 2890.17, 2890.17, 2890.17, 2890.17]', 'winningTime': 148.5, 'prize': 302889, 'metric': 2413, 'countryCode': 'AU', 'ncond': 1, 'class': 0}

In [12]:
horses_2020 = db_2020['horses']
races_2020 = db_2020['races']
horses_2019 = db_2019['horses_2019']
races_2019 = db_2019['races_2019']
horses_2018 = db_2018['horses_2018']
races_2018 = db_2018['races_2018']

In [14]:
horse_2020 = list(horses_2020.find())
race_2020 = list(races_2020.find())
horse_2019 = list(horses_2019.find())
race_2019 = list(races_2019.find())
horse_2018 = list(horses_2018.find())
race_2018 = list(races_2018.find())

In [21]:
horse_2020_df = pd.DataFrame(horse_2020)
horse_2019_df = pd.DataFrame(horse_2019)
horse_2018_df = pd.DataFrame(horse_2018)
horse_2018_df.head()

,_id,rid,horseName,age,saddle,decimalPrice,isFav,trainerName,jockeyName,position,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,64b81aab6ce02883b94dca6c,16767,Pounamu,6.0,1,0.208333,0,Alan Mathews,Patrick Carbery,2,...,,,Authorized,Tangiwai,Street Cry,16,1.149972,58,0.0,1
1,64b81aab6ce02883b94dca6d,16767,Trap For Fools,4.0,3,0.153846,0,Lindsey Smith,Alan Kennedy,6,...,,,Poet's Voice,Old Money,Old Spice,16,1.149972,54,0.0,0
2,64b81aab6ce02883b94dca6e,16767,Star Value,4.0,15,0.090909,0,Daniel O'Connor,Lee Newman,7,...,,,Ad Valorem,Amonistar,Theatrical,16,1.149972,53,0.0,0
3,64b81aab6ce02883b94dca6f,16767,Royal Star,4.0,13,0.071429,0,Grant &amp; Alana Williams,Clint Johnston-Porter,3,...,,,Redoute's Choice,Star Encounter,Jeune,16,1.149972,53,0.0,1
4,64b81aab6ce02883b94dca70,16767,Shinta Mani,6.0,14,0.009901,0,Sharon Miller,Jason Whiting,8,...,,,Viscount,Bonzara Gold,Ron Bon,16,1.149972,53,0.0,0

In [22]:
race_2020_df = pd.DataFrame(race_2020)
race_2019_df = pd.DataFrame(race_2019)
race_2018_df = pd.DataFrame(race_2019)
race_2020_df.head()

,_id,rid,course,time,date,title,rclass,band,ages,distance,condition,hurdles,prizes,winningTime,prize,metric,countryCode,ncond,class,currency
0,64b5ffbc3d381e076bbf62c7,23038,Tramore (IRE),02:55,20/01/01,Jerry O'Donovan Memorial Rated Novice Chase,,,5yo+,2m,Soft,12 fences,"[7387.5, 2387.5, 1137.5, 512.5, 262.5, 137.5]",266.40,11826,3218.0,IE,5,0,
1,64b5ffbc3d381e076bbf62c8,113785,Fakenham,12:35,20/01/01,Visit attheraces.com Amateur Riders' Handicap ...,Class 4,0-105,5yo+,3m5f,Good To Soft,22 fences,"[5490.32, 1702.8, 850.96, 425.92, 350.0, 350.0]",489.97,9170,5832.0,GB,10,4,
2,64b5ffbc3d381e076bbf62c9,113831,Santa Anita (USA),11:00,20/01/01,Joe Hernandez Stakes (Grade 2) (4yo+) (Turf),,,4yo+,5½f,Firm,,"[90225.56, 30075.19, 18045.11, 9022.56, 3007.5...",62.47,152257,1105.5,US,8,0,
3,64b5ffbc3d381e076bbf62ca,113854,Sha Tin (HK),04:15,20/01/01,Palm Handicap (Class 4) (3yo+) (Course C) (Turf),,,3yo+,6f,Good,,"[53306.58, 20574.47, 10754.84, 5611.22, 3273.21]",70.12,93520,1206.0,HK,1,0,
4,64b5ffbc3d381e076bbf62cb,114207,Catterick,11:55,20/01/01,Every Race Live On Racing TV Beginners' Chase,Class 4,,5yo+,3m1f,Good To Soft,19 fences,"[5458.32, 1602.72]",400.90,7061,5028.0,GB,10,4,

In [28]:
race_features = ['rid', 'ages', 'metric', 'ncond']
race_2020_filtered = race_2020_df[race_features]
race_2019_filtered = race_2019_df[race_features]
race_2018_filtered = race_2018_df[race_features]
race_2018_filtered

          rid   ages  metric  ncond
0       11499   3yo+  1407.0      1
1      114194   5yo+  4827.0     10
2      116279   4yo+  3921.5      1
3      117432   4yo+  3116.5      1
4      118776   5yo+  5028.0      1
...       ...    ...     ...    ...
17302  172736  4-6yo  3218.0      5
17303   81269   4yo+  3218.0      4
17304   84150    2yo  1407.0      0
17305   40878   3yo+  1206.0      0
17306   57679   4yo+  3218.0      5

[17307 rows x 4 columns]

In [29]:
horse_features = ['rid', 'age', 'saddle', 'decimalPrice', 'isFav', 'RPR', 'TR', 'OR', 'father', 'weight', 'res_win']
horse_2020_filtered = horse_2020_df[horse_features]
horse_2019_filtered = horse_2019_df[horse_features]
horse_2018_filtered = horse_2018_df[horse_features]
horse_2018_filtered

,rid,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,16767,6.0,1,0.208333,0,108,,,Authorized,58,0.0
1,16767,4.0,3,0.153846,0,92,,,Poet's Voice,54,0.0
2,16767,4.0,15,0.090909,0,87,,,Ad Valorem,53,0.0
3,16767,4.0,13,0.071429,0,91,,,Redoute's Choice,53,0.0
4,16767,6.0,14,0.009901,0,87,,,Viscount,53,0.0
...,...,...,...,...,...,...,...,...,...,...,...
171190,45321,7.0,4,0.307692,0,147,122,,Voix Du Nord,71,1.0
171191,45321,5.0,1,0.125000,0,152,128,,Konig Turf,75,0.0
171192,45321,5.0,3,0.380952,1,149,125,147,Soldier Of Fortune,75,0.0
171193,45321,8.0,5,0.100000,0,140,116,142,Beneficial,71,0.0
171194,45321,9.0,2,0.166667,0,130,104,150,Old Vic,75,0.0

# Merge

In [25]:
# join 2020 data
data_2020 = race_2020_filtered.merge(horse_2020_filtered, how='inner', on='rid')
data_2020 = data_2020.drop(columns=['rid'])
data_2020

,ages,metric,ncond,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,5yo+,3218.0,5,9.0,3,0.111111,0,112,34,,Stowaway,68,1.0
1,5yo+,3218.0,5,8.0,1,0.266667,1,115,33,109,Beneficial,73,0.0
2,5yo+,3218.0,5,7.0,5,0.166667,0,105,24,107,Let The Lion Roar,71,0.0
3,5yo+,3218.0,5,9.0,2,0.125000,0,108,29,103,Beneficial,68,0.0
4,5yo+,3218.0,5,8.0,7,0.222222,0,105,24,,Sonny Mac,69,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149508,2yo+,1609.0,5,8.0,6,0.030303,0,,,,Alamosa,58,0.0
149509,2yo+,1609.0,5,4.0,11,0.153846,0,,,,Proisir,57,0.0
149510,2yo+,1609.0,5,5.0,8,0.044053,0,,,,Tavistock,58,0.0
149511,2yo+,1609.0,5,8.0,3,0.041152,0,,,,Per Incanto,58,0.0
149512,2yo+,1609.0,5,7.0,12,0.016393,0,,,,Alamosa,57,0.0

In [26]:
# join 2019 data
data_2019 = race_2019_filtered.merge(horse_2019_filtered, how='inner', on='rid')
data_2019 = data_2019.drop(columns=['rid'])
data_2019

,ages,metric,ncond,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,3yo+,1407.0,1,5.0,3,0.200000,0,63,,56,Makfi,57,0.0
1,3yo+,1407.0,1,6.0,7,0.333333,1,67,,53,Commands,56,0.0
2,3yo+,1407.0,1,3.0,11,0.004587,0,49,,49,All Too Hard,54,0.0
3,3yo+,1407.0,1,5.0,1,0.029412,0,59,,60,Drumbeats,59,0.0
4,3yo+,1407.0,1,3.0,10,0.004484,0,41,,52,Ocean Park,55,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171844,4yo+,3218.0,5,9.0,9,0.111111,0,54,30,80,Trans Island,63,0.0
171845,4yo+,3218.0,5,5.0,2,0.111111,0,64,38,96,Saddler Maker,73,0.0
171846,4yo+,3218.0,5,8.0,10,0.038462,0,,,75,Teofilo,63,0.0
171847,4yo+,3218.0,5,7.0,1,0.181818,0,,,99,Le Fou,75,0.0
171848,4yo+,3218.0,5,5.0,3,0.058824,0,,,94,Rail Link,73,0.0

In [30]:
# join 2018 data
data_2018 = race_2018_filtered.merge(horse_2018_filtered, how='inner', on='rid')
data_2018 = data_2018.drop(columns=['rid'])
data_2018.head()

Empty DataFrame
Columns: [ages, metric, ncond, age, saddle, decimalPrice, isFav, RPR, TR, OR, father, weight, res_win]
Index: []

In [31]:
# filter fathers 2020
father_counts_2020 = data_2020['father'].value_counts()
popular_sires_2020 = father_counts_2020.index[father_counts_2020 >= 100]
print(f'number of popular_sires: {len(popular_sires_2020)}')
data_2020 = data_2020[data_2020['father'].isin(popular_sires_2020)]
data_2020

number of popular_sires: 350

,ages,metric,ncond,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,5yo+,3218.0,5,9.0,3,0.111111,0,112,34,,Stowaway,68,1.0
1,5yo+,3218.0,5,8.0,1,0.266667,1,115,33,109,Beneficial,73,0.0
3,5yo+,3218.0,5,9.0,2,0.125000,0,108,29,103,Beneficial,68,0.0
5,5yo+,3218.0,5,9.0,8,0.111111,0,89,2,,Robin Des Pres,71,0.0
6,5yo+,3218.0,5,8.0,4,0.111111,0,,,,Well Chosen,68,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149503,2yo+,1609.0,5,6.0,9,0.312500,1,,,,Savabeel,57,0.0
149504,2yo+,1609.0,5,5.0,5,0.243902,0,,,,Reliable Man,58,0.0
149506,2yo+,1609.0,5,7.0,7,0.020408,0,,,,Per Incanto,58,0.0
149510,2yo+,1609.0,5,5.0,8,0.044053,0,,,,Tavistock,58,0.0
149511,2yo+,1609.0,5,8.0,3,0.041152,0,,,,Per Incanto,58,0.0

In [32]:
# filter fathers 2019
father_counts_2019 = data_2019['father'].value_counts()
popular_sires_2019 = father_counts_2019.index[father_counts_2019 >= 100]
print(f'number of popular_sires: {len(popular_sires_2019)}')
data_2019 = data_2019[data_2019['father'].isin(popular_sires_2019)]
data_2019

number of popular_sires: 367

,ages,metric,ncond,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,3yo+,1407.0,1,5.0,3,0.200000,0,63,,56,Makfi,57,0.0
1,3yo+,1407.0,1,6.0,7,0.333333,1,67,,53,Commands,56,0.0
2,3yo+,1407.0,1,3.0,11,0.004587,0,49,,49,All Too Hard,54,0.0
5,3yo+,1407.0,1,4.0,9,0.027778,0,46,,52,Showcasing,55,0.0
7,3yo+,1407.0,1,4.0,2,0.004975,0,45,,57,Kodiac,57,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171842,4yo+,3218.0,5,11.0,6,0.058824,0,66,48,90,King's Theatre,71,0.0
171844,4yo+,3218.0,5,9.0,9,0.111111,0,54,30,80,Trans Island,63,0.0
171845,4yo+,3218.0,5,5.0,2,0.111111,0,64,38,96,Saddler Maker,73,0.0
171846,4yo+,3218.0,5,8.0,10,0.038462,0,,,75,Teofilo,63,0.0
171848,4yo+,3218.0,5,5.0,3,0.058824,0,,,94,Rail Link,73,0.0

In [35]:
# drop na
cleaned_data_2020 = data_2020.dropna()
cleaned_data_2019 = data_2019.dropna()
cleaned_data_2019

,ages,metric,ncond,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,3yo+,1407.0,1,5.0,3,0.200000,0,63,,56,Makfi,57,0.0
1,3yo+,1407.0,1,6.0,7,0.333333,1,67,,53,Commands,56,0.0
2,3yo+,1407.0,1,3.0,11,0.004587,0,49,,49,All Too Hard,54,0.0
5,3yo+,1407.0,1,4.0,9,0.027778,0,46,,52,Showcasing,55,0.0
7,3yo+,1407.0,1,4.0,2,0.004975,0,45,,57,Kodiac,57,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171842,4yo+,3218.0,5,11.0,6,0.058824,0,66,48,90,King's Theatre,71,0.0
171844,4yo+,3218.0,5,9.0,9,0.111111,0,54,30,80,Trans Island,63,0.0
171845,4yo+,3218.0,5,5.0,2,0.111111,0,64,38,96,Saddler Maker,73,0.0
171846,4yo+,3218.0,5,8.0,10,0.038462,0,,,75,Teofilo,63,0.0
171848,4yo+,3218.0,5,5.0,3,0.058824,0,,,94,Rail Link,73,0.0

In [39]:
# merge 2020 and 2019 data 
cleaned_2020_2019_df = pd.concat([cleaned_data_2019, cleaned_data_2020])
cleaned_2020_2019_df

,ages,metric,ncond,age,saddle,decimalPrice,isFav,RPR,TR,OR,father,weight,res_win
0,3yo+,1407.0,1,5.0,3,0.200000,0,63,,56,Makfi,57,0.0
1,3yo+,1407.0,1,6.0,7,0.333333,1,67,,53,Commands,56,0.0
2,3yo+,1407.0,1,3.0,11,0.004587,0,49,,49,All Too Hard,54,0.0
5,3yo+,1407.0,1,4.0,9,0.027778,0,46,,52,Showcasing,55,0.0
7,3yo+,1407.0,1,4.0,2,0.004975,0,45,,57,Kodiac,57,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149503,2yo+,1609.0,5,6.0,9,0.312500,1,,,,Savabeel,57,0.0
149504,2yo+,1609.0,5,5.0,5,0.243902,0,,,,Reliable Man,58,0.0
149506,2yo+,1609.0,5,7.0,7,0.020408,0,,,,Per Incanto,58,0.0
149510,2yo+,1609.0,5,5.0,8,0.044053,0,,,,Tavistock,58,0.0
149511,2yo+,1609.0,5,8.0,3,0.041152,0,,,,Per Incanto,58,0.0

In [40]:
# export cleaned data 
# cleaned_2020_2019_df.to_csv('Data_Racing/International_Data/cleaned_2020_2019_df.csv')