In [49]:
import pandas as pd

In [50]:
# File to Load
race_path = "Data_Racing/International_Data/races_2020.csv"
horse_path = "Data_Racing/International_Data/horses_2020.csv"

# Read the csv and store into Pandas DataFrame
race_df = pd.read_csv(race_path, encoding="utf-8")
race_df.head()

horse_df = pd.read_csv(horse_path, encoding="utf-8")
horse_df.head()

/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,rid,horseName,age,saddle,decimalPrice,isFav,trainerName,jockeyName,position,positionL,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,10312,Waterproof,4.0,9.0,0.076923,0,Shaun Keightley,Brendan Powell,1,NaN,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9,1.199095,66,1.0,1.0,NaN
1,10312,Eva's Diva,6.0,7.0,0.444444,1,Phil Middleton,Mr Sam Lee,2,15,...,110.0,Getaway,Shouette,Sadler's Wells,9,1.199095,65,0.0,1.0,NaN
2,10312,Incredible Dream,7.0,5.0,0.019608,0,Conrad Allen,Joshua Moore,3,5.5,...,NaN,Vale Of York,Finnmark,Halling,9,1.199095,72,0.0,1.0,NaN
3,10312,Hats Off To Larry,6.0,4.0,0.230769,0,Mick Channon,Marc Goldstein,4,10,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9,1.199095,72,0.0,0.0,NaN
4,10312,Taqwaa,7.0,6.0,0.038462,0,Laura Morgan,Richie McLernon,5,5.5,...,NaN,Iffraaj,Hallowed Park,Barathea,9,1.199095,72,0.0,0.0,NaN

## Merging both datasets

In [51]:
merge_data_df = race_df.merge(horse_df, how='left', on='rid')
merge_data_df.head()

,rid,course,time,date,title,rclass,band,ages,distance,condition,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9.0,1.199095,66.0,1.0,1.0,NaN
1,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,...,110.0,Getaway,Shouette,Sadler's Wells,9.0,1.199095,65.0,0.0,1.0,NaN
2,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,...,NaN,Vale Of York,Finnmark,Halling,9.0,1.199095,72.0,0.0,1.0,NaN
3,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9.0,1.199095,72.0,0.0,0.0,NaN
4,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,...,NaN,Iffraaj,Hallowed Park,Barathea,9.0,1.199095,72.0,0.0,0.0,NaN

In [6]:
# merge_data_df.to_csv('merged_data.csv')

In [7]:
len(merge_data_df.index)

149589

## Cleaning Data

1. Drop title (not relevant)
2. Drop headgear (not relevant)
3. Drop band? (still not sure what it is completely) 
4. Drop ncond & class (both numeral versions of condition & class column, which we donâ€™t need, since ML can create numerical columns itself)
5. Drop decimal price (doesnâ€™t influence whether a horse wins)
6. Drop positionL (how far a horse has finished from the pursued horse, horses corpses)
7. Drop dist (how far a horse has finished from a winner; for our purposes doesnâ€™t it only matter who won and who didnâ€™t and not by how much)
8. Drop weights & weightLb (since we have weight in kg already, donâ€™t need more units)
9. Drop overweight (donâ€™t need this)
10. Drop margin (Sum of decimalPrices for the race, since the bets / gambling donâ€™t influence whether horse wins)
11. Drop outHandicap?

In [56]:
# Drop all columns that don't specifically identify a horse specifically 
merge_data_df = merge_data_df.drop(columns = ["rid", "course","time", "date", "title", "rclass", "band", "ages",
                                              "hurdles", "prizes", "winningTime", "prize", "metric", "ncond", 
                                              "class", "currency", "decimalPrice", "isFav", "jockeyName",
                                              "positionL", "dist", "weightSt", "weightLb", "overWeight",
                                              "outHandicap", "headGear", "runners", "margin", "res_place", "price"])

In [57]:
merge_data_df.head()

,distance,condition,countryCode,horseName,age,saddle,trainerName,position,RPR,TR,OR,father,mother,gfather,weight,res_win
0,2m,Good To Soft,GB,Waterproof,4.0,9.0,Shaun Keightley,1.0,103.0,103.0,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,66.0,1.0
1,2m,Good To Soft,GB,Eva's Diva,6.0,7.0,Phil Middleton,2.0,96.0,89.0,110.0,Getaway,Shouette,Sadler's Wells,65.0,0.0
2,2m,Good To Soft,GB,Incredible Dream,7.0,5.0,Conrad Allen,3.0,97.0,88.0,NaN,Vale Of York,Finnmark,Halling,72.0,0.0
3,2m,Good To Soft,GB,Hats Off To Larry,6.0,4.0,Mick Channon,4.0,89.0,75.0,NaN,Sixties Icon,Highland Jig,Norse Dancer,72.0,0.0
4,2m,Good To Soft,GB,Taqwaa,7.0,6.0,Laura Morgan,5.0,82.0,67.0,NaN,Iffraaj,Hallowed Park,Barathea,72.0,0.0

In [ ]:
# trainerName"

In [58]:
# filter for UK only
uk_data = merge_data_df[merge_data_df['countryCode'] == "GB"] 
uk_data.head()

,distance,condition,countryCode,horseName,age,saddle,trainerName,position,RPR,TR,OR,father,mother,gfather,weight,res_win
0,2m,Good To Soft,GB,Waterproof,4.0,9.0,Shaun Keightley,1.0,103.0,103.0,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,66.0,1.0
1,2m,Good To Soft,GB,Eva's Diva,6.0,7.0,Phil Middleton,2.0,96.0,89.0,110.0,Getaway,Shouette,Sadler's Wells,65.0,0.0
2,2m,Good To Soft,GB,Incredible Dream,7.0,5.0,Conrad Allen,3.0,97.0,88.0,NaN,Vale Of York,Finnmark,Halling,72.0,0.0
3,2m,Good To Soft,GB,Hats Off To Larry,6.0,4.0,Mick Channon,4.0,89.0,75.0,NaN,Sixties Icon,Highland Jig,Norse Dancer,72.0,0.0
4,2m,Good To Soft,GB,Taqwaa,7.0,6.0,Laura Morgan,5.0,82.0,67.0,NaN,Iffraaj,Hallowed Park,Barathea,72.0,0.0

In [59]:
len(uk_data.index)

67214

In [ ]:
# export cleaned data (didn't run this yet!)
# uk_data.to_csv('uk_data.csv')

In [60]:
# drop N/A 
cleaned_uk_data = uk_data.dropna()
cleaned_uk_data.head()

,distance,condition,countryCode,horseName,age,saddle,trainerName,position,RPR,TR,OR,father,mother,gfather,weight,res_win
1,2m,Good To Soft,GB,Eva's Diva,6.0,7.0,Phil Middleton,2.0,96.0,89.0,110.0,Getaway,Shouette,Sadler's Wells,65.0,0.0
5,2m,Good To Soft,GB,George Gently,7.0,3.0,Justin Landy,6.0,80.0,65.0,114.0,Gentlewave,Sindibad,Rock Of Gibraltar,70.0,0.0
58,5f,Standard,GB,Airshow,5.0,4.0,Michael Appleby,1.0,91.0,69.0,83.0,Showcasing,Belle Des Airs,Dr Fong,58.0,1.0
59,5f,Standard,GB,Samovar,5.0,6.0,Scott Dixon,2.0,86.0,64.0,79.0,Finjaan,Chrystal Venture,Barathea,57.0,0.0
60,5f,Standard,GB,Moonraker,8.0,2.0,Michael Appleby,3.0,86.0,63.0,85.0,Starspangledbanner,Licence To Thrill,Wolfhound,59.0,0.0

In [61]:
len(cleaned_uk_data.index)

20116

## Further cleaning

In [62]:
cleaned_uk_data.count()

distance       20116
condition      20116
countryCode    20116
horseName      20116
age            20116
saddle         20116
trainerName    20116
position       20116
RPR            20116
TR             20116
OR             20116
father         20116
mother         20116
gfather        20116
weight         20116
res_win        20116
dtype: int64

In [63]:
len(cleaned_uk_data.index)

20116

In [64]:
# export cleaned data 
# cleaned_uk_data.to_csv('Data_Racing/International_Data/cleaned_uk_data.csv')