In [11]:
from pymongo import MongoClient
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'epa', 'fruitsDB', 'horse_racing', 'local', 'met', 'petsitly_marketing', 'travel_db', 'uk_food']

In [4]:
# assign the database to a variable name
db = mongo['horse_racing']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['horses', 'races']

In [6]:
# review a document in the customer_list collection
print(db.horses.find_one())

{'_id': ObjectId('64b5ff95f05d1290f2aeec99'), 'rid': 10312, 'horseName': 'Dandy Times', 'age': 7.0, 'saddle': 2.0, 'decimalPrice': 0.0196078431372549, 'isFav': 0, 'trainerName': 'Joanne Thomason-Murphy', 'jockeyName': 'Page Fuller', 'position': 7, 'positionL': 21, 'dist': 58.75, 'weightSt': 11, 'weightLb': 2, 'overWeight': '', 'outHandicap': '', 'headGear': '', 'RPR': 61.0, 'TR': 35.0, 'OR': '', 'father': 'Central Park', 'mother': 'Distinctly Flo Jo', 'gfather': 'Distinctly North', 'runners': 9, 'margin': 1.199095022624434, 'weight': 70, 'res_win': 0.0, 'res_place': 0.0, 'price': ''}

In [7]:
# review a document in the customer_list collection
print(db.races.find_one())

{'_id': ObjectId('64b5ffbc3d381e076bbf62c7'), 'rid': 23038, 'course': 'Tramore (IRE)', 'time': '02:55', 'date': '20/01/01', 'title': "Jerry O'Donovan Memorial Rated Novice Chase", 'rclass': '', 'band': '', 'ages': '5yo+', 'distance': '2m', 'condition': 'Soft', 'hurdles': '12 fences', 'prizes': '[7387.5, 2387.5, 1137.5, 512.5, 262.5, 137.5]', 'winningTime': 266.4, 'prize': 11826, 'metric': 3218, 'countryCode': 'IE', 'ncond': 5, 'class': 0, 'currency': ''}

In [8]:
horses = db['horses']
races = db['races']

In [9]:
horse_data = list(horses.find())
race_data = list(races.find())

In [14]:
horse_df = pd.DataFrame(horse_data)
horse_df.head()

,_id,rid,horseName,age,saddle,decimalPrice,isFav,trainerName,jockeyName,position,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,64b5ff95f05d1290f2aeec99,10312,Dandy Times,7.0,2,0.019608,0,Joanne Thomason-Murphy,Page Fuller,7,...,,Central Park,Distinctly Flo Jo,Distinctly North,9,1.199095,70,0.0,0.0,
1,64b5ff95f05d1290f2aeec9a,10312,Bran,5.0,1,0.117647,0,Stuart Edmunds,Ciaran Gethings,40,...,,Sakhee,Cup Of Love,Behrens,9,1.199095,72,0.0,0.0,
2,64b5ff95f05d1290f2aeec9b,10312,George Gently,7.0,3,0.222222,0,Justin Landy,Harry Reed,6,...,114,Gentlewave,Sindibad,Rock Of Gibraltar,9,1.199095,70,0.0,0.0,
3,64b5ff95f05d1290f2aeec9c,10312,Incredible Dream,7.0,5,0.019608,0,Conrad Allen,Joshua Moore,3,...,,Vale Of York,Finnmark,Halling,9,1.199095,72,0.0,1.0,
4,64b5ff95f05d1290f2aeec9d,10896,Audacity,4.0,1,0.058824,0,Warren Greatrex,Gavin Sheehan,1,...,,Pivotal,Carlanda,Lando,16,1.261934,68,1.0,1.0,

In [15]:
race_df = pd.DataFrame(race_data)
race_df.head()

,_id,rid,course,time,date,title,rclass,band,ages,distance,condition,hurdles,prizes,winningTime,prize,metric,countryCode,ncond,class,currency
0,64b5ffbc3d381e076bbf62c7,23038,Tramore (IRE),02:55,20/01/01,Jerry O'Donovan Memorial Rated Novice Chase,,,5yo+,2m,Soft,12 fences,"[7387.5, 2387.5, 1137.5, 512.5, 262.5, 137.5]",266.40,11826,3218.0,IE,5,0,
1,64b5ffbc3d381e076bbf62c8,113785,Fakenham,12:35,20/01/01,Visit attheraces.com Amateur Riders' Handicap ...,Class 4,0-105,5yo+,3m5f,Good To Soft,22 fences,"[5490.32, 1702.8, 850.96, 425.92, 350.0, 350.0]",489.97,9170,5832.0,GB,10,4,
2,64b5ffbc3d381e076bbf62c9,113831,Santa Anita (USA),11:00,20/01/01,Joe Hernandez Stakes (Grade 2) (4yo+) (Turf),,,4yo+,5½f,Firm,,"[90225.56, 30075.19, 18045.11, 9022.56, 3007.5...",62.47,152257,1105.5,US,8,0,
3,64b5ffbc3d381e076bbf62ca,113854,Sha Tin (HK),04:15,20/01/01,Palm Handicap (Class 4) (3yo+) (Course C) (Turf),,,3yo+,6f,Good,,"[53306.58, 20574.47, 10754.84, 5611.22, 3273.21]",70.12,93520,1206.0,HK,1,0,
4,64b5ffbc3d381e076bbf62cb,114207,Catterick,11:55,20/01/01,Every Race Live On Racing TV Beginners' Chase,Class 4,,5yo+,3m1f,Good To Soft,19 fences,"[5458.32, 1602.72]",400.90,7061,5028.0,GB,10,4,