In [1]:
# Import Modules
import pandas as pd 
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
from pathlib import Path
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [4]:
df = pd.read_csv(r"C:\Users\vidul\Documents\UCB Bootcamp Files\Projects\Project 4\Mustang\Resources\merged_data.csv")
df.head()

c:\Users\vidul\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (11,19,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,distance,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9.0,1.199095,66.0,1.0,1.0,NaN
1,1,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,110.0,Getaway,Shouette,Sadler's Wells,9.0,1.199095,65.0,0.0,1.0,NaN
2,2,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Vale Of York,Finnmark,Halling,9.0,1.199095,72.0,0.0,1.0,NaN
3,3,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9.0,1.199095,72.0,0.0,0.0,NaN
4,4,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Iffraaj,Hallowed Park,Barathea,9.0,1.199095,72.0,0.0,0.0,NaN

In [5]:
df.groupby("countryCode").count().sort_values(by="course", ascending=False)

,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,distance,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
countryCode,,,,,,,,,,,,,,,,,,,,,
GB,67214,67214,67214,67214,67214,67214,67157,43940,67214,67214,...,51560,67154,67154,67125,67154,67154,67154,67154,67154,48925
IE,27291,27291,27291,27291,27291,27291,0,8970,27291,27291,...,17000,27288,27288,27288,27288,27288,27288,27288,27288,21619
FR,19964,19964,19964,19964,19964,19964,0,0,19964,19964,...,0,19962,19962,19962,19962,19962,19962,19962,19962,11637
US,15263,15263,15263,15263,15263,15263,0,0,15263,15263,...,0,15262,15262,15262,15262,15262,15262,15262,15262,4410
HK,9353,9353,9353,9353,9353,9353,0,0,9353,9353,...,9246,9353,9353,9353,9353,9353,9353,9353,9353,3866
AU,3497,3497,3497,3497,3497,3497,0,0,3497,3497,...,0,3496,3495,3495,3496,3496,3496,3496,3496,1775
AE,1884,1884,1884,1884,1884,1884,0,1113,1884,1884,...,1680,1884,1884,1884,1884,1884,1884,1884,1884,264
JP,1557,1557,1557,1557,1557,1557,0,0,1557,1557,...,0,1557,1557,1557,1557,1557,1557,1557,1557,825
SAF,1256,1256,1256,1256,1256,1256,0,0,1256,1256,...,60,1254,1254,1254,1254,1254,1254,1254,1254,220
GER,596,596,596,596,596,596,0,0,596,596,...,0,596,596,596,596,596,596,596,596,351
CAN,352,352,352,352,352,352,0,0,352,352,...,0,352,352,352,352,352,352,352,352,309
NZ,243,243,243,243,243,243,0,0,243,243,...,0,243,243,243,243,243,243,243,243,82
IT,234,234,234,234,234,234,0,0,234,234,...,0,231,231,231,231,231,231,231,231,196
BRZ,234,234,234,234,234,234,0,0,234,234,...,0,234,234,234,234,234,234,234,234,160
ARG,163,163,163,163,163,163,0,0,163,163,...,0,160,160,160,160,160,160,160,160,143
CHI,98,98,98,98,98,98,0,0,98,98,...,0,98,98,98,98,98,98,98,98,82
KSA,90,90,90,90,90,90,0,0,90,90,...,0,90,90,90,90,90,90,90,90,0
SWI,88,88,88,88,88,88,0,0,88,88,...,0,88,88,88,88,88,88,88,88,0
URU,77,77,77,77,77,77,0,0,77,77,...,0,77,77,77,77,77,77,77,77,46
SWE,61,61,61,61,61,61,0,0,61,61,...,0,60,60,60,60,60,60,60,60,41
TUR,26,26,26,26,26,26,0,0,26,26,...,0,26,26,26,26,26,26,26,26,26
SPA,21,21,21,21,21,21,0,0,21,21,...,0,21,21,21,21,21,21,21,21,21
ARAB,14,14,14,14,14,14,0,0,14,14,...,0,14,14,8,14,14,14,14,14,0
NOR,13,13,13,13,13,13,0,0,13,13,...,0,13,13,13,13,13,13,13,13,13

In [4]:
df_horses_features["ages"] = df_horses_features["ages"].str.replace('[a-zA-Z+]', '').astype(float)
df.columns

Index(['Unnamed: 0', 'rid', 'course', 'time', 'date', 'title', 'rclass',
       'band', 'ages', 'distance', 'condition', 'hurdles', 'prizes',
       'winningTime', 'prize', 'metric', 'countryCode', 'ncond', 'class',
       'currency', 'horseName', 'age', 'saddle', 'decimalPrice', 'isFav',
       'trainerName', 'jockeyName', 'position', 'positionL', 'dist',
       'weightSt', 'weightLb', 'overWeight', 'outHandicap', 'headGear', 'RPR',
       'TR', 'OR', 'father', 'mother', 'gfather', 'runners', 'margin',
       'weight', 'res_win', 'res_place', 'price'],
      dtype='object')

In [16]:
df_horse_cleaning = df[["age", "weight", "RPR", "TR", "OR", "runners", "metric", "trainerName", "jockeyName", "condition", "res_win"]]

In [15]:
df_horses = df[["rid", "horseName", "age", "saddle", "decimalPrice", "isFav", 
                "trainerName", "jockeyName", "position", "positionL", "dist", 
                'weightSt', 'weightLb', 'overWeight', 'outHandicap', 'headGear', 
                'RPR', 'TR', 'OR', 'father', 'mother', 'gfather', 'runners', 
                'margin', 'weight', 'res_win', 'res_place', 'price']]
df_races = df[["rid", 'course', 'time', 'date', 'title', 'rclass', 'band', 
               'ages', 'distance', 'condition', 'hurdles', 'prizes', 'winningTime', 
               'prize', 'metric', 'countryCode', 'ncond', 'class', 'currency']]

drop title, headgear, outHandicap, overWeight, RPR, band, class, ncond, decimal price, positionL, dist, weights & weightLb, margin, outHandicap, hurdles,

In [17]:
df_horse_cleaning = df_horse_cleaning.dropna()

In [18]:
df_horse_features = df_horse_cleaning.drop(columns="res_win")
df_horse_target = df_horse_cleaning["res_win"]

In [19]:
print(df_horse_features.size)
print(df_horse_features.dtypes)
print(df_horse_target.dtypes)

285110
age            float64
weight         float64
RPR            float64
TR             float64
OR             float64
runners        float64
metric         float64
trainerName     object
jockeyName      object
condition       object
dtype: object
float64

In [20]:
df_horse_target.isna().sum()

0

In [ ]:
df_horse_features_scaled = StandardScaler().fit_transform(df_horse_features[["age", "weight", "RPR", "TR", "OR", "runners", "metric"]])
df_horse_features_scaled[:5]

In [21]:
df_horse_features = pd.get_dummies(df_horse_features)
df_horse_features.head()

,age,weight,RPR,TR,OR,runners,metric,trainerName_A Al Shemaili,trainerName_A Chaille-Chaille,trainerName_A Daud,...,condition_Good To Firm,condition_Good To Soft,condition_Good To Yielding,condition_Heavy,condition_Soft,condition_Soft To Heavy,condition_Standard,condition_Standard To Slow,condition_Yielding,condition_Yielding To Soft
1,6.0,65.0,96.0,89.0,110.0,9.0,3218.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,7.0,70.0,80.0,65.0,114.0,9.0,3218.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
26,8.0,73.0,115.0,33.0,109.0,8.0,3218.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,9.0,68.0,108.0,29.0,103.0,8.0,3218.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28,7.0,71.0,105.0,24.0,107.0,8.0,3218.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [106]:
df_horse_features_scaled = pd.DataFrame(df_horse_features_scaled, columns=["age", "weight", "RPR", "TR", "OR", "runners", "metric"])

df_horse_features["age"] = df_horse_features_scaled["age"]
df_horse_features["weight"] = df_horse_features_scaled["weight"]
df_horse_features["RPR"] = df_horse_features_scaled["RPR"]
df_horse_features["TR"] = df_horse_features_scaled["TR"]
df_horse_features["OR"] = df_horse_features_scaled["OR"]
df_horse_features["runners"] = df_horse_features_scaled["runners"]
df_horse_features["metric"] = df_horse_features_scaled["metric"]

df_horse_features.head()
df_horse_features = df_horse_features.dropna

In [22]:
X_train, X_test, y_train, y_test = train_test_split(df_horse_features, df_horse_target, random_state=1)

In [23]:
model = LogisticRegression()
model.fit(X_train, y_train)

c:\Users\vidul\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [24]:
y_pred = model.predict(X_test)

In [25]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9086700336700336

In [ ]:
model = KMeans(n_clusters=2, random_state=1)