In [17]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import json

In [3]:
# Import city location data
df = pd.read_csv(r"C:\Users\vidul\Documents\UCB Bootcamp Files\Projects\Project 4\Mustang\Resources\city_coordinates.csv")
df.head()

         City         Country   Latitude  Longitude
0    Fakenham  United Kingdom  52.829919   0.847732
1  Cheltenham  United Kingdom  51.899569  -2.071156
2     Tramore   United States  29.670858 -98.492054
3  Fairyhouse         Ireland  53.499974  -6.468569
4   Southwell  United Kingdom  50.532890  -2.446753

In [4]:
# Count number of cities 

number_of_cities = df.City.unique()
print(f"There are {len(number_of_cities)} cities in the horse racing circuit.")

There are 234 cities in the horse racing circuit.

In [29]:
# Function to find city coordinates 

def find_coordinates(city):
    coordinates = df.loc[df["City"] == city, ["Latitude", "Longitude"]]
    lat = coordinates["Latitude"]
    lon = coordinates["Longitude"]
    return lat, lon

In [30]:
find_coordinates("Tokyo")

(72    35.681266
 Name: Latitude, dtype: float64,
 72    139.757653
 Name: Longitude, dtype: float64)

In [24]:
# Function to build API query url 

def URL(city, day, month):

    url = "http://history.openweathermap.org/data/2.5/aggregated/day?"
    lat = str(find_coordinates(city)["Latitude"])
    lon = str(find_coordinates(city)["Longitude"])
    month = month
    day = day

    query_url = f"{url}lat={lat}&lon={lon}&month={month}&day={day}"

    str(query_url)
    
    return query_url

In [25]:
URL("Tokyo", "1", "1")

'http://history.openweathermap.org/data/2.5/aggregated/day?lat=72    35.681266\nName: Latitude, dtype: float64&lon=72    139.757653\nName: Longitude, dtype: float64&month=1&day=1'

'72    139.757653\nName: Longitude, dtype: float64'