In [17]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import json

In [3]:
# Import city location data
df = pd.read_csv(r"C:\Users\vidul\Documents\UCB Bootcamp Files\Projects\Project 4\Mustang\Resources\city_coordinates.csv")
df.head()

         City         Country   Latitude  Longitude
0    Fakenham  United Kingdom  52.829919   0.847732
1  Cheltenham  United Kingdom  51.899569  -2.071156
2     Tramore   United States  29.670858 -98.492054
3  Fairyhouse         Ireland  53.499974  -6.468569
4   Southwell  United Kingdom  50.532890  -2.446753

In [126]:
df["City"].unique()

array(['Fakenham', 'Cheltenham', 'Tramore', 'Fairyhouse', 'Southwell',
       'Musselburgh', 'Ellerslie', 'Santa Anita', 'Sha Tin', 'Catterick',
       'Exeter', 'Flemington', 'Meydan', 'Lingfield', 'Chelmsford', 'Ayr',
       'Deauville', 'Hereford', 'Wolverhampton', 'Dundalk', 'Kempton',
       'Cork', 'Sandown', 'Ascot', 'Gulfstream Park', 'Wincanton',
       'Newcastle', 'Naas', 'Plumpton', 'Nakayama', 'Kyoto', 'Chepstow',
       'Maronas', 'Taunton', 'Happy Valley', 'Ludlow', 'Chantilly',
       'Clonmel', 'Thurles', 'Sedgefield', 'Kenilworth', 'Warwick',
       'Wetherby', 'Trentham', 'Punchestown', 'Kelso', 'Cagnes-Sur-Mer',
       'Doncaster', 'Newbury', 'Market Rasen', 'Haydock', 'Aqueduct',
       'Navan', 'Fair Grounds', 'Kokura', 'Gowran Park', 'Huntingdon',
       'Jebel Ali', 'Moonee Valley', 'Uttoxeter', 'Caulfield',
       'Sam Houston', 'Fontwell', 'Down Royal', 'Leicester', 'Ffos Las',
       'Limerick', 'Leopardstown', 'Randwick', 'Oaklawn Park',
       'St Moritz', 'Valparaiso Sporting Club', 'Tokyo', 'Carlisle',
       'Bangor-on-Dee', 'Tampa Bay Downs', 'Te Rapa', 'Gavea', 'Hobart',
       'Warwick Farm', 'Laurel Park', 'Otaki', 'Rosehill', 'Auteuil',
       'Launceston', 'Morphettville', 'Riyadh', 'Armidale', 'Hanshin',
       'Compiegne', 'Turffontein Standside', 'Canberra', 'Stratford',
       'Kembla Grange', 'Chukyo', 'San Isidro', 'Turfway Park',
       'Saint-Cloud', 'Wexford', 'Greyville', 'Golden Gate Fields',
       'Turffontein Inside', 'Fairview', 'Durbanville', 'Downpatrick',
       'Flamingo Park', 'Will Rogers Downs', 'Vaal', 'Wellington',
       'Gold Coast', 'Ipswich', 'Wagga Wagga', 'Fukushima', 'Fonner Park',
       'Balaklava', 'Hanover', 'Cologne', 'Doomben', 'Hoppegarten',
       'Longchamp', 'Toulouse', 'Marseille Pont-de-Vivaux', 'Angers',
       'Lyon Parilly', 'Strasbourg', 'Vichy', 'Marseille Borely',
       'La Teste De Buch', "Le Lion-D'Angers", 'Dieppe', 'Baden-Baden',
       'Bordeaux Le Bouscat', 'Churchill Downs', 'Eagle Farm', 'Jagersro',
       'Chateaubriant', 'Pau', 'Clairefontaine', 'Moulins',
       'Cidade Jardim', 'Fort Erie', 'Nantes', 'Yarmouth', 'Belmont Park',
       'Newmarket', 'San Siro', 'Tarbes', 'Thistledown', 'Pontefract',
       'Beverley', 'Craon', 'Curragh', 'Dresden', 'Goodwood',
       'Capannelle', 'Roscommon', 'Thirsk', 'Windsor', 'Dax', 'Redcar',
       'Tipperary', 'Ripon', 'Dortmund', 'Dusseldorf', 'Hakodate',
       'Delaware Park', 'Le Croise-Laroche', 'Hamilton', 'Bath',
       'Kilbeggan', 'Bellewstown', 'Sligo', 'Epsom', 'Los Alamitos',
       'Scottsville', 'Woodbine', 'Prairie Meadows', 'Killarney',
       'Newton Abbot', 'York', 'Indiana Grand', 'Hamburg', 'Keeneland',
       'Salisbury', 'Sunshine Coast', 'Saratoga', 'Monmouth Park',
       'Ballinrobe', 'Perth', 'Charles town', 'Cartmel', 'Del Mar',
       'Ellis Park', 'Munich', 'Niigata', 'Galway', 'Vittel', 'Sapporo',
       'Pornichet-La Baule', 'Arlington Park', 'Chester', 'Le Touquet',
       'San Sebastian', 'Ovrevoll', 'Hexham', 'Evreux', 'Wyong',
       'Kentucky Downs', 'Belterra Park', 'Emerald Downs', 'Palermo',
       'Cholet', 'Fontainebleau', 'Hastings', 'Listowel', 'Bro Park',
       'Argentan', 'Nottingham', 'Remington Park', 'Century Mile',
       'Pimlico', 'Club Hipico de Santiago', 'La Zarzuela',
       'Gulfstream Park West', 'Ankara', 'Hipodromo Chile', 'Geelong',
       'Aintree', 'Veliefendi', 'Bendigo', 'Riccarton Park', 'Krefeld',
       'La Plata', 'Mountaineer Park'], dtype=object)

In [4]:
# Count number of cities 

number_of_cities = df.City.unique()
print(f"There are {len(number_of_cities)} cities in the horse racing circuit.")

There are 234 cities in the horse racing circuit.

In [33]:
# Function to find city coordinates 

def find_coordinates(city):
    coordinates = df.loc[df["City"] == city, ["Latitude", "Longitude"]]
    lat = coordinates.iloc[0, 0]
    lon = coordinates.iloc[0, 1]
    lat = str(lat)
    lon = str(lon)
    return lat, lon

In [47]:
find_coordinates("Tokyo")

('35.6812665', '139.757653')

In [127]:
find_coordinates("Gold Coast")

('-28.0023731', '153.4145987')

In [45]:
# Function to build API query url 

def URL(city, day, month):

    url = "http://history.openweathermap.org/data/2.5/aggregated/day?"

    latitude = find_coordinates(city)[0]
    longitude = find_coordinates(city)[1]

    query_url = f"{url}lat={latitude}&lon={longitude}&month={month}&day={day}&appid={api_key}"

    str(query_url)

    return query_url

In [46]:
URL("Tokyo", "1", "1")

'http://history.openweathermap.org/data/2.5/aggregated/day?lat=35.6812665&lon=139.757653&month=1&day=1&appid=9b06c82e96dc4508a78962e8e70e06f1'

In [78]:
weather_response = requests.get(URL("Tokyo", "1", "1")).json()

In [134]:
weather_response["result"]["precipitation"]["mean"]

0

In [148]:
# Function to parse API call as a JSON
def parse(city, day, month):
    temperature = []
    humidity = []
    rain = []

    weather_response = requests.get(URL(city, day, month)).json()

    temperature.append(weather_response["result"]["temp"]["mean"] - 273)
    humidity.append(weather_response["result"]["humidity"]["mean"])
    rain.append(weather_response["result"]["precipitation"]["mean"])

    weather_dict = {"Temperature": temperature, "Humidity": humidity, "Rain (cm)": rain}

    weather_conditions = pd.DataFrame(weather_dict)
    # weather_conditions = weather_conditions.rename(columns=["Humidity", "Temperature"])
    # weather_conditions = weather_conditions.reset_index()

    return weather_conditions

In [149]:
parse("Tokyo", "1", "1")

   Temperature  Humidity  Rain (cm)
0         6.23     52.79          0

In [150]:
parse("Gold Coast", "1", "1")

   Temperature  Humidity  Rain (cm)
0        24.46      77.4       0.11