In [17]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import json

In [3]:
# Import city location data
df = pd.read_csv(r"C:\Users\vidul\Documents\UCB Bootcamp Files\Projects\Project 4\Mustang\Resources\city_coordinates.csv")
df.head()

         City         Country   Latitude  Longitude
0    Fakenham  United Kingdom  52.829919   0.847732
1  Cheltenham  United Kingdom  51.899569  -2.071156
2     Tramore   United States  29.670858 -98.492054
3  Fairyhouse         Ireland  53.499974  -6.468569
4   Southwell  United Kingdom  50.532890  -2.446753

In [4]:
# Count number of cities 

number_of_cities = df.City.unique()
print(f"There are {len(number_of_cities)} cities in the horse racing circuit.")

There are 234 cities in the horse racing circuit.

In [33]:
# Function to find city coordinates 

def find_coordinates(city):
    coordinates = df.loc[df["City"] == city, ["Latitude", "Longitude"]]
    lat = coordinates.iloc[0, 0]
    lon = coordinates.iloc[0, 1]
    lat = str(lat)
    lon = str(lon)
    return lat, lon

In [47]:
find_coordinates("Tokyo")

('35.6812665', '139.757653')

In [45]:
# Function to build API query url 

def URL(city, day, month):

    url = "http://history.openweathermap.org/data/2.5/aggregated/day?"

    latitude = find_coordinates(city)[0]
    longitude = find_coordinates(city)[1]

    query_url = f"{url}lat={latitude}&lon={longitude}&month={month}&day={day}&appid={api_key}"

    str(query_url)

    return query_url

In [46]:
URL("Tokyo", "1", "1")

'http://history.openweathermap.org/data/2.5/aggregated/day?lat=35.6812665&lon=139.757653&month=1&day=1&appid=9b06c82e96dc4508a78962e8e70e06f1'

In [76]:
# Function to parse API call as a JSON
def parse(city, day, month, hrs):
    # temperature = []
    # humidity = []

    weather_response = requests.get(URL(city, day, month)).json()

    temp = weather_response["list"][hrs]["main"]["temp"]
    hum = weather_response["list"][hrs]["main"]["humidity"]

    # weather_conditions = pd.DataFrame(temperature, humidity)
    # weather_conditions = weather_conditions.reset_index()

    return temp, hum

In [77]:
parse("Tokyo", "1", "1", 0)

KeyError: 'list'